@using SportsStore.Domain.Entities
@using SportsStore.WebUI.HTMLHelpers
@using SportsStore.WebUI.Models;

@model CartItems

Shopping cart view
@{ 
    int keyCount = Request.Form.Keys.Count;
    string productId = Request.Form["productId"];
   <div>Count: @keyCount</div>
    <div>productId: @productId</div>
    foreach (var item in Request.Form.Keys)
    {
    <div>@item</div>
    }
<div>Request.URL: @Request.Url</div>
<div>Request.UrlReferrer: @Request.UrlReferrer</div>

}

    <table class="table" style="border:thick" >
        <tr>
            <td align="center">ProductID</td>
            <td align="center">Item</td>
            <td align="center">Price</td>
            <td align="center">Quantity</td>
            <td align="center">Subtotal</td>
        </tr>


         @foreach (var item in Model.LineItems)
         {
                <tr>
                    <td class="text-center" align="center">@item.product.ProductID</td>
                    <td class="text-center" align="center">@item.product.Name</td>
                    <td class="text-right" align="center">@item.product.Price</td>
                    <td class="text-right" align="center">@item.quantity</td>
                    <td class="text-right" align="center">@(item.quantity*item.product.Price)</td>
                    <td class="text-right" align="center"><form action="/Cart/RemoveFromCart" method="post"><input type="hidden" name="ProductId" value=@item.product.ProductID /><input type="submit" value="Remove" /></form></td>
                </tr>
         }
         
            <tr>
                <td align="center">Total</td>
            <td class="text-right" colspan="4" align="center">@Model.LineItems.Sum(li=>li.quantity*li.product.Price)</td>
         </tr>

    </table>
    
   <a href="@Model.ReturnURL" class="btn btn-primary">Continue Shopping</a>
